<div id="actions" class="mb-3">
	<p>Bu kısımda green olmayıp green olacak olanlar var. Özellikle orange olanların içinde...
																																  Onların hangi koşulları sağlayarak green haline geleceğini renklendirmeyi
																																  yapan JavaScript kodu içine koşul olarak koyacağız.</p>
	<p id="filter-container">
		Filter Uye ad:
		<input id="namefilter" oninput="filterNames(this.value);"/>
	</p>
	<p id="button-container" style="padding: 10px; border: 1px solid grey;">
		<button id="show-all" class="btn btn-success">show all</button>
		<button id="show-uncolored" class="btn btn-info">show uncolored</button>
	</p>
	<div style="padding: 10px; border: 1px solid grey;">
		<details>
			<summary>Legend:</summary>
			<div id="legend-container">
				SID = Sipariş ID<br/>
				SD = Sipariş durumu
				<br/>
				PD = Paketleme durumu
				<br/>
				ÖKD = Ödeme Kaydı Durumu (odemeKaydıVarYok)
				<br/>
				ÖA = Ödeme adedi
				<br/>
				ÖO = Ödeme Onay
				<br/>
			</div>
		</details>
	</div>
	<div id="counter" style="margin: 15px 0px; padding: 10px; border: 1px solid grey;"></p>
</div>
<div id="content" style="padding: 10px; border: 1px solid grey;">
	{% for result in results %}
		{% set odemeVarYokTest = result.Odemeler | length %}
		{% set odemeAdet = 0 %}
		{% set odemeOnay = [] %}

		{% if odemeVarYokTest == 0 %}
			{% set odemeVarYok = 'yok' %}
		{% else %}
			{% set odemeVarYok = 'var' %}
			{% if result.Odemeler.WebSiparisOdeme.0 is defined %}
				{% set odemeAdet = result.Odemeler.WebSiparisOdeme | length %}
				{% for od in result.Odemeler.WebSiparisOdeme %}
					{% if not loop.last %}
						{% set odemeOnay = odemeOnay | merge([od.Onaylandi]) %}
					{% else %}
						{% set odemeOnay = odemeOnay | merge([od.Onaylandi]) %}
					{% endif %}
				{% endfor %}
			{% else %}
				{% set odemeAdet = 1 %}
				{% set odemeOnay = result.Odemeler.WebSiparisOdeme.Onaylandi %}
			{% endif %}
		{% endif %}

		<div class="siparis" data-odemevaryok="{{ odemeVarYok }}" data-sd="{{ result.Durum }}" data-pd="{{ result.PaketlemeDurumuID }}" data-oo="{{ odemeOnay | join(',') }}" id="{{ result.ID }}">
			<p>SID:
				{{ result.ID }}
				|
																								SD:
				{{ result.Durum }}
				({{ result.SiparisDurumu }})
																								| PD:
				{{ result.PaketlemeDurumuID }}
				({{ result.PaketlemeDurumu }})
																																-
				<span class="uye">{{ result.UyeAdi }}
					{{ result.UyeSoyadi }}</span>
				-
				<span class="uyeid">{{ result.UyeID }}</span>
				-
				{{ result.Mail }}
				-
				{{ result.SiparisTarihi }}
				-
				<span class="total">{{ result.SiparisToplamTutari }}</span>
				-
																																																																ÖKD:
				{{ odemeVarYok }}
				-
																																																																ÖA:
				{{ odemeAdet }}
				ÖO:
				{{ odemeOnay | join(',') }}
			</p>
		</div>
	{% endfor %}
</div>
