{% set buttonMarkUp = '<p><button id="collapse_all">Collapse all</button></p>' %}

{% extends "layout.twig" %}

{% block content %}

	{% if resultSingle %}
		<h1>{{ resultSingle.Tanim }}</h1>
		{{ buttonMarkUp | raw }}
		<p>
			<em>
				<a href="/bikalite/tcategory.php">Kategorilere dön</a>
			</em>
		</p>
		{% for key,value in resultSingle %}
			<details>
				<summary>{{ key }}</summary>
				<div>{{ value | raw }}</div>
			</details>
		{% endfor %}
	{% endif %}

	{% if resultMultiple %}
		<h1>{{ title }}</h1>
		<p id="button-container">
			<button id="tableDestroy" class="btn btn-danger">table destroy</button>
			<button id="tableCreate" class="btn btn-danger">table create</button>
		</p>

		<div class="table-responsive">
			<table id="xxx" class="table table-striped table-hover table-bordered table-sm caption-top">
				<thead>
					<tr>
						<th>ID</th>
						<th>Kategori</th>
						<th>Aktiflik Durumu</th>
						<th>URL</th>
            <th>Bare URL</th>
					</tr>
				</thead>
				<tbody>
					{% for result in resultMultiple %}
						<tr>
							<td>{{ result.ID }}</td>
							<td>{{ result.Tanim }}</td>
							<td>
								{%if result.Aktif %}
									Aktif
								{% else %}
									Pasif
								{% endif %}
							</td>
							<td>
								<a href="https://bikalite.com{{result.Url}}">https://bikalite.com{{result.Url}}</a>
							</td>
              <td>{{ result.Url }}</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th>ID</th>
						<th>Kategori</th>
						<th>Aktiflik Durumu</th>
						<th>URL</th>
            <th>Bare URL</th>
					</tr>
				</tfoot>
			</table>
		</div>
	{% endif %}

{% endblock %}

{% block page_based_script %}
	{% include 'liste.twig' %}
{% endblock %}
