{% extends "layout.twig" %}

{% block content %}
	<h1>{{ title }}</h1>
	{% for result in results %}
		<p>{{ result.Durum }}
			({{ result.SiparisDurumu }})
						-
			{{ result.PaketlemeDurumu }}
			{{ result.PaketlemeDurumuID }}
			-
			{{ result.ID }}
			-
			{{ result.UyeAdi }}
			{{ result.UyeSoyadi }}
			-
			{{ result.UyeID }}
			-
			{{ result.Mail }}
			-
			{{ result.SiparisTarihi }}
			-
			{{ result.SiparisToplamTutari }}</p>
		{% if result.Odemeler | length > 0 %}
			<span>ödeme var</span>
			xxx
			{{result.Odemeler.WebSiparisOdeme.Onaylandi}}
		{% else %}
			<span>ödeme yok</span>
		{% endif %}
	{% endfor %}

{% endblock %}
